//Dark colors
$black-primary-color: black;
$darkblue-primary-color: rgb(0, 0, 43);

//Light colors 
$blue-primary-color: blue;
$light-blue-primary-color: lightblue;
$white-smoke-color: whitesmoke;

//SONIC colors
$cream-color: #f5cf8b ;
$dark-blue-color: #02449e;
$dark-blue-trasnparent-color: #02439e81;
$white-gloves-color: #e7e6e5;
$orange-color: #eda818;
$yellow-color: #f6df0f;
$dark-blue2-color: #052858;