.sega {
  background-color: $cream-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sega__title {
  text-align: center;
  text-decoration: none;
  color: $orange-color;
  text-transform: uppercase;
  font-family: "SEGA LOGO FONT", sans-serif;
  font-size: 20px;
  letter-spacing: 3pt;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid red;
  border-style: dotted;
  background-color: $dark-blue2-color;
  
  &:hover {
    color: $yellow-color;
    font-style: italic;
  }
}

.sega__image {
  width: 90%;

  @include desktop {
    width: 51%;
  }
  @include tablet {
    width: 51%;
  }
}
.sega__title--text {
  font-weight: bold;
  color: $dark-blue2-color;
  padding: 32px;
  text-align: center;
  &:hover {
    color: red;
    font-style: italic;
  }
}
